/* About Info*/
#about-info .info-right{
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img{
 display: block; 
 margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left{
  float: left;
  width: 50%;
  min-height: 100%;
  padding: 0 20px;
}

#testimonials h2{
  color: white;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial{
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}


#testimonials{
  height: 100%;
  background: url(/images/test-bg.jpg) no-repeat center center/cover;
  padding-top: 40px;
}

#testimonials .testimonial img{
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50px;
}