/* Contact Form */

#contact-form .form-group{
margin-bottom: 20px;
}

#contact-form label{
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea{
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea{
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus{
  outline: none;
  border-color: #f7c08e;
}