#nav .logo{
  float: none;
  text-align: center;
}

#nav ul,
#nav ul li{
  float: none;
}

#nav ul li a{
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Showcase */
#showcase{
  height: 100%;
}

#showcase-content{
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Home info */
#home-info {
  height: 550px;
}

#home-info .info-img{
  display: none;
}

#home-info .info-content{
  float: none;
  width: 100%;
}

/* Boxes */
.box{
  float: none;
  width: 100%;
}

/* About */
#about-info .info-right,
#about-info .info-left{
  float: none;
  width: 100%;
}

#about-info .info-right{
  margin-top: 30px;
}

.l-heading{
  text-align: center;
}

/* Contact */
#contact-info .box{
  border-bottom: #444 dotted 1px;
}