
/* Main Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  color: #333;
  text-decoration: none;
}

h1, h2, h3{
  padding-bottom: 20px;
}

p{
  margin: 10px 0;
}

/* Utili */
.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary{
 color: #f7c08e; 
}

.lead{
  font-size: 20px;
}

.btn{
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background: #f7c08e; 
  color: #333;
}

.btn-light{
  background: white;
  color: #333;
}

.bg-dark{
  background: #333;
  color: white;
}

.bg-light{
  background: white;
  color: #333;
}

.bg-primary{
  background: #f7c08e;
  color: #333;
}

.clr{
  clear: both;
}

.l-heading{
  font-size: 40px;
  line-height: 1.2;
}

/* Utility Padding */
.py-1{ padding: 10px 0;}
.py-2{ padding: 20px 0;}
.py-3{ padding: 30px 0;}


/* Navbar */
#nav{
  background: #333;
  color: white;
  overflow: auto;
}

#nav a{
  color: white;
}

#nav .logo{
  float: left;
  padding-top: 20px;
}

#nav ul{
  list-style: none;
  float: right;
}

#nav ul li{
  float: left;
}

#nav ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#nav ul li a.current,
#nav ul li a:active,
#nav ul li a:hover{
  background: #444;
  color: #f7c08a;
}

/* Showcase */

#showcase{
  background: url('/images/showcase.jpg') no-repeat center center/cover;
  height: 600px;
}

#showcase-content{
  color: white;
  text-align: center;
  padding-top: 170px;
}

#showcase #showcase-content h1{
  font-size: 60px;
  line-height: 1.2em;
}

#showcase #showcase-content p{
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home info */
#home-info{
  height: 450px;
}

#home-info .info-img{
  float: left;
  width: 50%;
  background: url('/images/photo-1.jpg') no-repeat;
  min-height: 100%;
}

#home-info .info-content{
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p{
  padding-bottom: 30px;
}

/* features */
.box{
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i{
  margin-bottom: 10px;
}

/* Footer */
#main-footer{
  text-align: center;
  background: #444;
  color: white;
  padding: 20px;
}
